<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курс валют</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <h2>Конвертація валют</h2>
    <form id="convertForm">
        <div class="amountCurrency">
            <label for="amount">Сума:</label>
            <input type="number" id="amount" name="amount" step="1" required>
        </div>

            <label for="from_currency_p">З валюти:</label>
        <select id="from_currency" name="from_currency" required>
            {% for currency, rate in data.get("rates", {}).items() %}
            <option value="{{ currency }}">{{ currency }} - {{ rate }}</option>
            {% endfor %}
        </select>

        <button id="swapButton" class="swap-icon">↔️</button>

            <label for="to_currency_p">У валюту:</label>
            <select id="to_currency" name="to_currency" required>
                {% for currency, rate in data.get("rates", {}).items() %}
                <option value="{{ currency }}">{{ currency }} - {{ rate }}</option>
                {% endfor %}
            </select>

        <button type="submit">Конвертувати</button>
    </form>

    <div id="conversionResult"></div>
    <h1>Курс валют</h1>

    <table>
        <tr>
            <th>Валюта</th>
            <th>Курс</th>
        </tr>
        {% for currency, rate in data.get("rates", {}).items() %}
        <tr>
            <td>{{ currency }}</td>
            <td>{{ rate }}</td>
        </tr>
        {% endfor %}
    </table>

    <script src="/static/js/converter.js"></script>
</body>
</html>
